<article class="card">
  <a href="/blogPost/{{id}}">
    <div>
      <header>{{title}}</header>
      {{!-- do i need something to clarify username from user model? --}}
      <p>Posted by {{username}} on {{date_created}}</p>
    </div>
    <p>{{blog_content}}</p>
  </a>
</article>