<article class="card">
  <a href="/blogPost/{{id}}">
    <div class="card">
      <header class="card-header">{{title}}</header>
      <p>Posted by {{user.username}} on {{date_created}}</p>
      <div class="card-body">
        <p class="card-text">{{blog_content}}</p>
      </div>
    </div>
  </a>
</article>
